<html>
<head>
<title>{{ page.title }}</title>
<link href="/css/syntax.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/css/blog.css" media="screen" rel="stylesheet" type="text/css" />

<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4974218-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>

{{ content }}

Please send comments to the <a href="http://groups.google.com/group/imapsn-dev">imapsn-dev e-mail list</a>.

</body>
</html>
